//! COLOURS
//* BLUE
$primary-blue: #154285;
$grey-blue: #2f2e4b;
$dark-blue: #0a0926;
$light-blue: black;

//* RED / Vinotinto
$primary-red: #A50034;
$red-blur: #730A18;

//* YELLOW
$yellow: #FBCF00;

//* TEXT
$white: #ffffff;

//*GRADIENTS
$dark-blur: linear-gradient(to right, $primary-red, $red-blur);


